@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --second-color: #ff581f;
  --primary-color:  #fd212c;
  --secondary-color: #111111;
  --secondary-color-light: #232220;
  --text-light: #a3a3a3;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

.container {
  padding: 0 6%;
  background-color: var(--secondary-color);
}

/*=============== Header ===============*/

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 8rem;
    height: 4rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header__btn a {
  text-decoration: none;
  color: var(--white);
  display: inline-block;
}

.header__btn {
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
}

.header__btn:hover {
  background-color: var(--primary-color);
}

/*=============== Busca ===============*/

.busca {
  background-color: var(--black);
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-busca {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.input-mobile {
  background-color: var(--secondary-color-light);
  height: 7vh;
  
}

.header__busca input {
  display: block;
  width: 100%;
  border: none;
  font-size: 1rem;
}

.header__busca label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__busca input:focus-visible {
  outline: none;
}

.header__busca {
  width: 80%; 
  top: 6.5rem;
  left: auto;
  right: auto;
  z-index: 1;
  background-color: var(--white);
  color: var(--secondary-color-light);
  border-radius: 10px;
  padding: .5rem;
  display: block;
}

/*=============== Search Result ===============*/

.section__search-result {
  background-color: var(--secondary-color);
  padding: 6% 6%;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-light);
  outline: 1px solid var(--text-light);
  background-color: var(--secondary-color-light);
  padding: .5rem;
}

.search-result__img {
  width: 80vw;
  height: auto;
}

.search-result__img img {
  width: 100%;
  height: 100%;
}

.consult-img {
  width: calc(100% - 6%);
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: space-between;
}

.consult-img__item {
  width: 6rem;
  height: auto;
}

.consult-img__item img{
  width: 100%;
  height: 100%;
}



