.loja {
    padding: 5rem 6%;
}

.loja-container {
    padding: 4rem 0;
    background-color: var(--secondary-color);
}

.swiper {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 35rem;
    height: 48rem;
    background-color: var(--secondary-color-light);
    color: var(--white);
    border-radius: 10px;
    margin-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 34.35rem;
    height: 280px;
    display: block;
    margin: 0;
    padding: 0;
}

.card-img>img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-description>h1 {
    font-size: 25px;
    text-align: center;
    padding: 10px 0 5px 0;
    color: var(--primary-color);
}
.card-description>p {
    font-size: 15px;
    text-align: center;
    padding: 0 10px 10px 10px;
}

.card-description a {
    text-decoration: none;
    display: inline-block; 
    text-align: center;
    padding: 1rem 2.5rem;
    margin: 0 auto;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 1.5rem;
    border-radius: 5px;
}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}