@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --second-color: #ff581f;
  --primary-color:  #fd212c;
  --secondary-color: #111111;
  --secondary-color-light: #232220;
  --text-light: #a3a3a3;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--black);
}

/*=============== Header ===============*/
.header {
  height: 10vh;
  padding: 0 6%;
  background-color: var(--secondary-color);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  margin: 0;
}

.menu__logo {
  width: 10rem;
  height: auto;
}

.menu__logo img {
  width: 100%;
  height: 100%;
}

.menu__link {
  display: block;
  color: var(--black);
  background-color: var(--white);
  padding: .5rem;
  border-radius: 5px;
  font-size: 2rem;
}

.menu__link a {
  text-decoration: none;
  color: var(--black);
}

.menu__link:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/*=============== Busca ===============*/
.search {
  padding: 0 6%;
}

.search__container {
  padding: 2rem;
}


.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 3rem;
  padding-left: 20px;
  font-size: 2.5rem;
  font-weight: 500;
}

.section__subheader::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  z-index: -1;
}

.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-content__input {
  padding: 1rem 2rem;
  background-color: var(--white);
  color: var(--secondary-color);
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-content__input input {
  border: none;
  font-size: 2.5rem;
}

.search-content__input span i {
  font-size: 2rem;
}

.search-content__input input:focus-visible {
  outline: 0;
}

/*=============== Result ===============*/
.result {
  background-color: var(--black);
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  width: calc(100vw - 6%);
  padding-top: 2rem;
}

.result-content__images {
  flex-grow: 1;
  background-color: var(--secondary-color);
  padding: 2rem;
}

.result__img-main {
  width: 100%;
  height: auto;
  padding: .5rem;
  border: 1px solid var(--text-light);
}

.result__img-main img {
  width: 100%;
  height: 100%;
}

.result__img-choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem .5rem;
  margin-top: 1rem;
}

.img-item {
  width: 25%;
  height: auto;
}

.img-item img {
  width: 100%;
  height: 100%;
}

.result-content__description {
  flex-grow: 1;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-size: 4rem;
}

.result-content__description h3 {
  font-size: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}

.result-content__description li {
  list-style: none;
  padding-bottom: .5rem;
}

.result-content__description li i {
  color: var(--primary-color);
}

.result-content__description span {
  font-size: 4rem;
  color: var(--primary-color);
  padding: 1.5rem 0;
}

.btn a {
  display: block;
  text-decoration: none;
  color: var(--white);
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.result-content__description .btn a, i {
  font-size: 1.5rem;
}





